.home__container {
    background-image: url('https://img.freepik.com/free-photo/3d-space-scene_1048-5311.jpg?w=1380&t=st=1650555583~exp=1650556183~hmac=45e3b4741abd52acf00952127d04d01bbb2c9ada207ae240913d3b3267fd8e7e');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
