.header {
    &__name {
        font-weight: 700;
        font-size: 50px;
    }

    &__description {
        font-size: 40px;
    }
}
.container {
    margin-bottom: 25px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .header__description {
        font-size: 25px;
    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .container {
        margin-bottom: 86px;
    }
}
